    <!-- Banner Section Starts Here -->
    <div class="inner-banner section-bg overflow-hidden">
        <div class="container">
            <div class="inner__banner__content text-center">
                <h2 class="title">Sign In Account</h2>
                <ul class="breadcums d-flex flex-wrap justify-content-center">
                    <li><a href="/">Home</a>//</li>
                    <li>Sign In</li>
                </ul>
            </div>
        </div>
        <div class="shapes">
            <img src="/static/images/banner/inner-bg.png" alt="banner" class="shape shape1">
            <img src="/static/images/banner/inner-thumb.png" alt="banner" class="shape shape2 d-none d-lg-block">
        </div>
    </div>
    <!-- Banner Section Ends Here -->


    <!-- Account Section Starts Here -->
    <div class="account-section padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-xl-5 d-none d-lg-block">
                    <div class="section__thumb rtl me-5">
                        <img src="static/images/account/thumb.png" alt="account">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5">
                    <div class="account__form__wrapper">
                        <h3 class="title">Hello, Welcome Back</h3>
                        <form class="form account__form" action="/login" method="post">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control form--control" placeholder="Username Or Email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control form--control" placeholder="Password">
                                <span class="eye-icon"><i class="las la-eye"></i></span>
                            </div>
                            <div class=" d-flex flex-wrap align-items-center">
                                <div class="form--check me-4">
                                    <input type="checkbox" id="rem-me">
                                    <label for="rem-me">Remember Me</label>
                                </div>
                                <a href="#" class="forgot-pass text--base">Forgot Password</a>
                            </div>
                            <button class="btn cmn--btn mt-4" type="submit">Sign In Account</button>
                        </form>
                        <p class="mt-4">Or you can join with</p>
                        <ul class="social-links mt-2">
                            <li><a class="facebook-bg" href="#0"><i class="lab la-facebook-f"></i></a></li>
                            <li><a class="twitter-bg" href="#0"><i class="lab la-twitter"></i></a></li>
                            <li><a class="instagram-bg" href="#0"><i class="lab la-instagram"></i></a></li>
                        </ul>
                        <p class="mt-4">Don't have on Account yet?   <a class="ms-2 text--base" href="/register">Create Account</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Account Section Ends Here -->


   