
      <div class="container-fluid main-content px-2 px-lg-4">
        <div class="row my-2 g-3 g-lg-4">
          <div class="col-md-6 col-xl-4 col-xxl-3">
            <div class="price-box">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <p class="text-white mb-0">Bitcoin</p>
                  <h4 class="fw-semibold text-white mb-0">$1200.00</h4>
                </div>
                <img src="assets/img/crypto/bitcoin.png" alt="">
              </div>
              <div class="chart">
                <canvas id="chart_2"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4 col-xxl-3">
            <div class="price-box">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <p class="text-white mb-0">Ethereum</p>
                  <h4 class="fw-semibold text-white mb-0">$100.00</h4>
                </div>
                <img src="assets/img/crypto/etherium.png" alt="">
              </div>
              <div class="chart">
                <canvas id="chart_3"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4 col-xxl-3">
            <div class="price-box">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <p class="text-white mb-0">Dogecoin</p>
                  <h4 class="fw-semibold text-white mb-0">$2500.00</h4>
                </div>
                <img src="assets/img/crypto/dogecoin.png" alt="">
              </div>
              <div class="chart">
                <canvas id="chart_4"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4 col-xxl-3">
            <div class="price-box">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <p class="text-white mb-0">Binance</p>
                  <h4 class="fw-semibold text-white mb-0">$3200.00</h4>
                </div>
                <img src="assets/img/crypto/binance.png" alt="">
              </div>
              <div class="chart">
                <canvas id="chart_5"></canvas>
              </div>
            </div>
          </div>

        </div>

        <!-- Main Chart Area -->
        <div class="row my-2 g-3 gx-lg-4">
          <div class="col-xl-7 col-xxl-9">
            <div class="mainchart px-3 px-md-4 py-3 py-lg-4">
              <div class="d-flex w-100 flex-wrap justify-content-between pb-4 bottom-border">
                <h4 class="mb-0">Monthly Overall Growth</h4>
                <div class="d-flex align-items-center gap-3">
                  <button class="outline-btn">Week</button>
                  <button class="outline-btn">Month</button>
                  <button class="outline-btn">Year</button>
                </div>
              </div>
              <div class="chart-container">
                <canvas id="chart_1"></canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-xxl-3">
            <div class="doughnut">
              <div id="donut_wrapper" class="position-relative">
                <div id="donutchart"></div>
              </div>
              <p class="large text-center mt-3">Total Balance</p>
              <h3 class="text-white text-center">0.3475948</h3>
              <p class="primary text-center">11,032.24 USD</p>
              <div class="d-flex justify-content-center">
                <button class="primary-btn">Withdraw</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Tables -->
        <div class="row my-2 g-3 gx-lg-4 pb-3">
          <div class="col-xl-7 col-xxl-9">
            <div class="mainchart px-3 px-md-4 py-3 py-lg-4 ">
              <div>
                <h5 class="mb-0">Active Overall Growth</h5>
              </div>
              <div class="recent-contact pb-2 pt-3">
                <table>
                  <thead>
                    <tr class="border-b2">
                      <th class="fw-bold">Type</th>
                      <th class="fw-bold">Asset</th>
                      <th class="fw-bold">Date</th>
                      <th class="fw-bold">IP Address</th>
                      <th class="fw-bold">Status List</th>
                      <th class="fw-bold">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-b2">
                      <td>Exchange</td>
                      <td class="d-flex align-items-center gap-2">
                        <img src="assets/img/crypto/bitcoin.png" alt="">
                        Bitcoin
                      </td>
                      <td>Apr 14, 2023</td>
                      <td>140.91.94.219</td>
                      <td><span class="green-tag">Success</span></td>
                      <td>11,250 BTC</td>
                    </tr>
                    <tr class="border-b2">
                      <td>Exchange</td>
                      <td class="d-flex align-items-center gap-2">
                        <img src="assets/img/crypto/binance.png" alt="">
                        Binance
                      </td>
                      <td>Apr 14, 2023</td>
                      <td>140.91.94.219</td>
                      <td><span class="red-tag">Unpaid</span></td>
                      <td>11,250 BTC</td>
                    </tr>
                    <tr class="border-b2">
                      <td>Exchange</td>
                      <td class="d-flex align-items-center gap-2">
                        <img src="assets/img/crypto/dash.png" alt="">
                        Dashcoin
                      </td>
                      <td>Apr 14, 2023</td>
                      <td>140.91.94.219</td>
                      <td><span class="green-tag">Success</span></td>
                      <td>11,250 BTC</td>
                    </tr>
                    <tr class="border-b2">
                      <td>Exchange</td>
                      <td class="d-flex align-items-center gap-2">
                        <img src="assets/img/crypto/dogecoin.png" alt="">
                        Dogecoin
                      </td>
                      <td>Apr 14, 2023</td>
                      <td>140.91.94.219</td>
                      <td><span class="red-tag">Unpaid</span></td>
                      <td>11,250 BTC</td>
                    </tr>
                    <tr class="border-b2">
                      <td>Exchange</td>
                      <td class="d-flex align-items-center gap-2">
                        <img src="assets/img/crypto/etherium.png" alt="">
                        Ethereum
                      </td>
                      <td>Apr 14, 2023</td>
                      <td>140.91.94.219</td>
                      <td><span class="red-tag">Pending</span></td>
                      <td>11,250 BTC</td>
                    </tr>
                    <tr class="border-b2">
                      <td>Exchange</td>
                      <td class="d-flex align-items-center gap-2">
                        <img src="assets/img/crypto/tether.png" alt="">
                        Tether
                      </td>
                      <td>Apr 14, 2023</td>
                      <td>140.91.94.219</td>
                      <td><span class="red-tag">Pending</span></td>
                      <td>11,250 BTC</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-xxl-3">
            <div class="doughnut">
              <h5 class="text-whit mb-3">Recent Transaction</h5>
              <div class="coins-list">
                <div class="coin d-flex justify-content-between align-items-center border-b2">
                  <div class="d-flex gap-2 align-items-center">
                    <div>
                      <img src="assets/img/crypto/bitcoin.png" alt="">
                    </div>
                    <div class="d-flex flex-column">
                      <span class="text-white">Bitcon</span>
                      <span class="medium">Today, 3.50 PM</span>
                    </div>
                  </div>
                  <h5 class="text-white">$47,515</h5>
                </div>
                <div class="coin d-flex justify-content-between align-items-center border-b2">
                  <div class="d-flex gap-2 align-items-center">
                    <div>
                      <img src="assets/img/crypto/tether.png" alt="">
                    </div>
                    <div class="d-flex flex-column">
                      <span class="text-white">Litcon</span>
                      <span class="medium">Today, 3.50 PM</span>
                    </div>
                  </div>
                  <h5 class="text-white">$37,515</h5>
                </div>
                <div class="coin d-flex justify-content-between align-items-center border-b2">
                  <div class="d-flex gap-2 align-items-center">
                    <div>
                      <img src="assets/img/crypto/binance.png" alt="">
                    </div>
                    <div class="d-flex flex-column">
                      <span class="text-white">Binance</span>
                      <span class="medium">Today, 3.50 PM</span>
                    </div>
                  </div>
                  <h5 class="text-white">$27,515</h5>
                </div>
                <div class="coin d-flex justify-content-between align-items-center border-b2">
                  <div class="d-flex gap-2 align-items-center">
                    <div>
                      <img src="assets/img/crypto/etherium.png" alt="">
                    </div>
                    <div class="d-flex flex-column">
                      <span class="text-white">Ethereum</span>
                      <span class="medium">Today, 3.50 PM</span>
                    </div>
                  </div>
                  <h5 class="text-white">$23,515</h5>
                </div>
                <div class="coin d-flex justify-content-between align-items-center border-b2">
                  <div class="d-flex gap-2 align-items-center">
                    <div>
                      <img src="assets/img/crypto/dogecoin.png" alt="">
                    </div>
                    <div class="d-flex flex-column">
                      <span class="text-white">Dogecoin</span>
                      <span class="medium">Today, 3.50 PM</span>
                    </div>
                  </div>
                  <h5 class="text-white">$22,515</h5>
                </div>
                <div class="coin d-flex justify-content-between align-items-center border-b2">
                  <div class="d-flex gap-2 align-items-center">
                    <div>
                      <img src="assets/img/crypto/dash.png" alt="">
                    </div>
                    <div class="d-flex flex-column">
                      <span class="text-white">Dashcoin</span>
                      <span class="medium">Today, 3.50 PM</span>
                    </div>
                  </div>
                  <h5 class="text-white">$21,515</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row py-2 g-3 g-lg-4 top-border footer">
          <div class="col-lg-6">
            <span class="text-center text-lg-start d-block w-100">Copyright © 2023. All Rights Reserved By <a href="#"
                class="primary">CryptDash</a></span>
          </div>
          <div class="col-lg-6">
            <ul
              class="d-flex gap-2 gap-xl-4 p-0 align-items-center flex-wrap justify-content-center justify-content-lg-end">
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
        </div>
      </div>
   