
      <div class="container-fluid main-content settings px-2 px-lg-4">
        <!-- Tables -->
        <div class="row my-2 g-3 g-lg-4 pb-3 settings-inner">
          <div class="col-sm-6 col-lg-5 col-xl-4 col-xxl-3">
            <div class="profile">
              <div class="profile-im text-center">
                <form action="/dashboard/upload-profile-picture" method="post" enctype="multipart/form-data">

                  {{ if .User.Image }}
                <img src="/uploads/{{ .User.Image }}" alt="">
                {{ else }}
                  <img src="/static/base/img/profile.png" alt="">
                {{ end }}
                <!-- <div class="add-photo">
                  <span class="material-symbols-outlined primary">
                    add_a_photo
                  </span>
                </div> -->
                <div class="upload-photo mt-2  mb-2">
                  <div class="row justify-content-center">
                    <div class="col-10 text-center">
                      <input type="file" class="form-control text" name="image">
                    </div>
                   
                  </div>
                  
                  <button class="btn primary-btn-lg mt-2" type="submit">Update Picture</button>
                </div>
              </form>
              </div>
              <h4 class="text-white fw-semibold text-center mt-3 mb-1">{{ .User.FirstName}} {{.User.LastName}}</h4>
<!--           
        
              <div class="social-icons pt-1">
                <a href="#">
                  <i class="ri-facebook-fill"></i>
                </a>
                <a href="#">
                  <i class="ri-twitter-fill"></i>
                </a>
                <a href="#">
                  <i class="ri-instagram-line"></i>
                </a>
                <a href="#">
                  <i class="ri-linkedin-fill"></i>
                </a>
              </div> -->
            </div>
          </div>
          <div class="col-sm-6 col-lg-7 col-xl-8 col-xxl-9">
            <div class="settings-tab">
              <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-profile" type="button" role="tab">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-password-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-password" type="button" role="tab">Change Password</button>
                </li>
              
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login"
                    type="button" role="tab">Login Device History</button>
                </li>
              </ul>

              <div class="tab-content pt-2" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" tabindex="0">
                  <form action="/dashboard/settings/update-profile" method="post">
                    <div class="row">
                      {{if .flash.message }}
                      <p class="text-danger"> {{ .flash.message }} </p>
                      {{ end }}
                      <div class="col-md-6">
                        <label class="fw-semibold mb-2 mt-3" for="fname">First Name</label>
                        <input type="text" id="fname" name="FirstName"  value={{.User.FirstName}} class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label class="fw-semibold mb-2 mt-3" for="lname">last Name</label>
                        <input type="text" id="lname" name="LastName" value={{.User.LastName}} class="form-control">
                      </div>
                      <!-- <div class="col-md-6">
                        <label class="fw-semibold mb-2 mt-3" for="email">Email Address</label>
                        <input type="text" id="email" name="Email" value={{.User.Email}} class="form-control">
                      </div> -->
                      <div class="col-md-6">
                        <label class="fw-semibold mb-2 mt-3" for="phone">Phone Number</label>
                        <input type="text" id="phone" name="PhoneNumber" value={{.User.PhoneNumber}}   class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label class="fw-semibold mb-2 mt-3" for="date">Joining Date</label>
                        <input type="date" id="date" value={{ .User.CreatedAt }} class="form-control">
                        {{ .User.CreatedAt }}
                      </div>
                      <div class="col-md-6">
                        <label class="fw-semibold mb-2 mt-3" for="city">City</label>
                        <input type="text" id="city" name="City"  value={{ .User.City }} class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label class="fw-semibold mb-2 mt-3" for="country">Country </label>
                        <input type="text" id="country" name="Country" value={{ .User.Country }} class="form-control">
                      </div>
                      <div class="col-md-8 d-flex align-items-end">
                        <button class="primary-btn-lg mt-3" type="submit">Update Profile</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="pills-password" role="tabpanel" tabindex="0">
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="fw-semibold mb-2 mt-3" for="password">Current Password</label>
                        <input type="text" id="password" placeholder="Current Password........" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label class="fw-semibold mb-2 mt-3" for="newpass">New Password</label>
                        <input type="text" id="newpass" placeholder="New Passsword........" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label class="fw-semibold mb-2 mt-3" for="confirmpass">Confirm Password</label>
                        <input type="text" id="confirmpass" placeholder="Confirm Password........" class="form-control">
                      </div>
                      <div class="col-md-6 d-flex align-items-end">
                        <button class="primary-btn-lg mt-3" type="submit">Update Password</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="pills-two-factor" role="tabpanel" tabindex="0">
                  <div class="d-flex flex-wrap gap-4 align-items-center mt-3">
                    <div class="d-flex flex-column qr-code flex-shrink-0">
                      <div>
                        <img class="img-fluid" src="/static/base/img/qrcode.png" alt="">
                      </div>
                      <span class="fw-bold text-white large mt-2 text-center">Scan Code</span>
                    </div>
                    <div>
                      <span class="fw-bold text-white medium mb-3">Enter the six-digit code from the application</span>
                      <br>
                      <p class="medium">After scanning the image, the app will display a six-digit code that you can
                        enter below</p>
                      <div class="otp mb-2">
                        <input type="number" class="otp-input" placeholder="0" maxlength="1">
                        <input type="number" class="otp-input" placeholder="0" maxlength="1">
                        <input type="number" class="otp-input" placeholder="0" maxlength="1">
                        <input type="number" class="otp-input" placeholder="0" maxlength="1">
                        <input type="number" class="otp-input" placeholder="0" maxlength="1">
                        <input type="number" class="otp-input" placeholder="0" maxlength="1">
                      </div>
                      <p>Enter six-digit code</p>
                      <a href="#" class="primary-btn-lg mt-2">Download 2FA App</a>

                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-login" role="tabpanel" tabindex="0">
                  <div class="recent-contact pb-2 pt-3">
                    <h5 class="fw-semibold">Login Device History</h5>
                    <table>
                      <thead>
                        <tr class="border-b2">
                          <th class="fw-bold">Date/Time</th>
                          <th class="fw-bold">Device List</th>
                          <th class="fw-bold">Location</th>
                          <th class="fw-bold">IP Address</th>
                          <th class="fw-bold">Active Device</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="border-b2">
                          <td>Dec 2, 1:30pm</td>
                          <td>iMac Pro</td>
                          <td>United States</td>
                          <td>179.122.37.231</td>
                          <td><span class="primary-dot"></span> Active</td>
                        </tr>

                        <tr class="border-b2">
                          <td>Dec 2, 1:30pm</td>
                          <td>iMac Pro</td>
                          <td>United States</td>
                          <td>179.122.37.231</td>
                          <td><span class="secondary-dot"></span> Unactive</td>
                        </tr>

                        <tr class="border-b2">
                          <td>Dec 2, 1:30pm</td>
                          <td>iMac Pro</td>
                          <td>United States</td>
                          <td>179.122.37.231</td>
                          <td><span class="primary-dot"></span> Active</td>
                        </tr>

                        <tr class="border-b2">
                          <td>Dec 2, 1:30pm</td>
                          <td>iMac Pro</td>
                          <td>United States</td>
                          <td>179.122.37.231</td>
                          <td><span class="secondary-dot"></span> Unactive</td>
                        </tr>

                        <tr class="border-b2">
                          <td>Dec 2, 1:30pm</td>
                          <td>iMac Pro</td>
                          <td>United States</td>
                          <td>179.122.37.231</td>
                          <td><span class="secondary-dot"></span> Unactive</td>
                        </tr>

                        <tr class="border-b2">
                          <td>Dec 2, 1:30pm</td>
                          <td>iMac Pro</td>
                          <td>United States</td>
                          <td>179.122.37.231</td>
                          <td><span class="primary-dot"></span> Active</td>
                        </tr>

                        <tr class="border-b2">
                          <td>Dec 2, 1:30pm</td>
                          <td>iMac Pro</td>
                          <td>United States</td>
                          <td>179.122.37.231</td>
                          <td><span class="secondary-dot"></span> Unactive</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
