<div class="container-fluid main-content px-2 px-lg-4">
  <div class="row my-2 g-3 g-lg-4">
    <div class="col-md-6 col-lg-5 col-xxl-4">
      <div class="wallet-balance">
        <div class="left-wrapper">
          <div class="left">
            <div class="d-flex align-items-center gap-2 mb-4">
              <img src="assets/img/crypto/bitcoin.png" alt="">
              <span class="fw-bold">Bitcoin</span>
            </div>
            <span>Total Balance</span>
            <h2 class="text-white mt-2">0.3475948</h2>
            <span class="primary">{{.User.Wallet.Balance }} USD</span>
            <div class="d-flex gap-3 pt-4">
              <button class="primary-btn-lg">Withdraw</button>
              <button class="outline-btn-lg">Deposit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-7 col-xxl-7">
      <div class="right">
        <div class="py-3">
          <div class="d-flex  justify-content-between align-items-end">
            <div class="d-flex flex-column">
              <span>Total Earnings</span>
              <span class="fw-bold text-white pg-large my-1">0.397466349</span>
              <span class="primary">{{ .User.Wallet.TotalEarning}} USD</span>
            </div>
        
          </div>
        
        </div>
        <div class="py-3">
          <div class="d-flex  justify-content-between align-items-end">
            <div class="d-flex flex-column">
              <span>Pending Withdrawal</span>
              <span class="fw-bold text-white pg-large my-1">0.397466349</span>
              <span class="primary">{{ .User.Wallet.PendingWithdrawal }} USD</span>
            </div>
           
        </div>
      </div>
    </div>
  </div>

  <!-- Tables -->
  <div class="row my-2 g-3 gx-lg-4 pb-3">
    <div class="col-11">
      <div class="mainchart px-3 px-md-4 py-3 py-lg-4 ">
        <div class="d-flex justify-content-between flex-wrap gap-4">
          <h5 class="mb-0">Latest Transactions</h5>
        </div>
        <div class="pb-2 pt-3 price-table">
          <table>
            <thead>
              <tr>
                <th class="fw-bold">S/N</th>
                <th class="fw-bold">Date</th>
                <th class="fw-bold">Amount</th>
                <th class="fw-bold">Type</th>
                <th class="fw-bold">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="d-flex align-items-center gap-2">
                  1
                </td>
                <td>24th of July, 3001</td>
                <td>$303,800</td>
                <td>Withdrawal</td>
                <td class="primary">success</td>
              </tr>
           
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
